$main-color: #00b894;
$second-color: #1c1c1c;
$third-color: #525252;
$fourth-color: #08548e;
$bg-color: #1C1C1C;
$main-shadow: 0 10px 10px 20px #b0b8d617, 10px 10px 15px -5px #b0b8d6;
$section-width: 70%;
$greeen-color: #2bc155;
$red-color: #f35757;
$main-font: 'Poppins', sans-serif;
$body-color: #222f3e;
$accent-color: #8E8E8E;

// Flate Colors
$flat-green: #00b894;