@import "variables";


@mixin make-layout($color, $opacity) {
  @extend %my-layout;
  background-color: rgba($color, $opacity);
}
/*--- New ---- */
/*
   mobile tablet laptop 17inch 22inch For font-size
   - Using responsive-screen map in variables file
*/ 
@mixin res-font-size($xs, $s, $mid, $lg, $xlg) {
  @media (max-width: map-get($responsive-screens,"xsmall")) {font-size: $xs}
  @media (min-width: map-get($responsive-screens,"xsmall")){font-size: $xs}
  @media (min-width: map-get($responsive-screens,"small")) {font-size: $s}
  @media (min-width: map-get($responsive-screens,"miduem")) {font-size: $mid}
  @media (min-width: map-get($responsive-screens,"large")) {font-size: $lg}
  @media (min-width: map-get($responsive-screens,"xlarge")) {font-size: $xlg}
}

//- mobile tablet laptop 17inch 22inch For font-size
@mixin res-width($xs, $s, $mid, $lg, $xlg) {
  @media (max-width: map-get($responsive-screens,"xsmall")) {width: $xs}
  @media (max-width: map-get($responsive-screens,"xsmall")) {width: $xs}
  @media (max-width: map-get($responsive-screens,"small")) {width: $s}
  @media (max-width: map-get($responsive-screens,"miduem")) {width: $mid}
  @media (max-width: map-get($responsive-screens,"large")) {width: $lg}
  @media (max-width: map-get($responsive-screens,"xlarge")) {width: $xlg}
}
/*--- New ---- */
@mixin def-flex($width, $gap){
  display: flex;
  gap: $gap;
  & > *{
    width: $width; 
  }
}

